<h1>顧客一覧</h1>
<p>お客様情報が表示されます。</p>
<table class="table table-striped">
  <thead>
    <th>会社名</th>
    <th>姓</th>
    <th>名</th>
    <th>電子メール</th>
    <th>リンク</th>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.company.name %></td>
        <td><%= customer.family_name %></td>
        <td><%= customer.given_name %></td>
        <td><%= customer.email %></td>
        <td><%= link_to '詳細', customer, class: "btn btn-default btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
  <%= paginate @customers %>
</table>

